<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension point="org.eclipse.ui.editors">

      <editor
            class="de.netallied.functionblock.modeleditor.sys.MultiPageEditor"
            extensions="sys"
            icon="icons/editor.png"
            id="de.netallied.functionblock.editor.sys.MultiPageEditor"
            name="IEC 61499 System Editor">
      </editor>

   </extension>

	<extension point="org.eclipse.ui.popupMenus">
   
  </extension>

</plugin>
