<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.eclipse.ui.perspectives">
	   <perspective
	         name="IEC 61499 Development"
	         class="de.netallied.functionblock.perspective.Programming"
	         id="de.netallied.functionblock.workspace.Programming"
	         icon="icons/perspective.gif" >
	   </perspective>
	</extension>

</plugin>
