<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

    <extension  point="org.eclipse.ui.newWizards">
      <wizard name="Composite Function Block"
            icon="icons/file.png"
            category="de.netallied.functionblock"
            class="de.netallied.functionblock.create.file.composite.NewWizard"
            id="de.netallied.functionblock.create.file.composite.NewWizard">
      </wizard>
   </extension>
</plugin>
